<template name="home">
	
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <ul class="sidebar-tabs" role="tablist">
            <li><a href="#categories" role="tab"><i class="fa fa-sliders"></i></a></li>
            <li><a href="#marker" role="tab"><i class="fa fa-map-marker"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="sidebar-content active">
            
            <div class="sidebar-pane" id="categories">
                <div class="container-fluid">
                    <div class="row logo">
                        <img src="/logo-transparent-no-slogan.png" class="logo img-responsive">
                    </div>
                    <div class="row">
        				<h1>Profile</h1>	
        				{{> dropdown}}
        			</div>
                    <div class="row sliders">
        				{{> sliders}}
                    </div>
                </div>
			</div>
            
            <div class="sidebar-pane" id="marker">
                <div class="container-fluid">
                    <div class="row logo">
                        <img src="/logo-transparent-no-slogan.png" class="logo img-responsive">
                    </div>
                    <div class="row">
        				<h1>Points of Interest</h1>
                        
                        <input type='button' class='btn btn-primary btn-block' id="wa-btn" value='Western Australia' />
                        <input type='button' class='btn btn-primary btn-block' id="perth-btn" value='Perth' />
        			</div>
                </div> 
            </div>
        </div>
    </div>
	
	<div id="map"></div>
    <div id="info"></div>
</template>

<template name="sliders">
	
	<span>Aboriginal</span>
	<div id="slider1"></div>

    <span>Ecological Diversity</span>
    <div id="slider3"></div>

    <span>Energy Extraction</span>
    <div id="slider5"></div>
  
    <span>Mining Activities</span>
    <div id="slider6"></div>

    <span>Population</span>
    <div id="slider4"></div>

    <span>Protected Areas</span>
  	<div id="slider2"></div>

</template>

<template name="dropdown">
	<select class="form-control roles">
		<option>Select a profile...</option>
	    <option>Investment Opportunities</option>
	    <option>Environmental Awareness</option>
	    <option>Cultural Significance</option>
	</select>
</template>