<template name="home">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				{{> dropdown}}
				{{> sliders}}
			</div>
			<div class="col-lg-10">
				<div id="map" style="width: 1000px; height: 600px"></div>
				<div id="info"></div>
			</div>		
		</div>
	</div>
</template>

<template name="sliders">
	
	<span>Aboriginal</span>
	<div id="slider1"></div>

    <span>Conservation</span>
  	<div id="slider2"></div>

    <span>Ecology</span>
    <div id="slider3"></div>

    <span>Economy</span>
    <div id="slider4"></div>

    <span>Energy</span>
    <div id="slider5"></div>
  
    <span>Mines</span>
    <div id="slider6"></div>
	
    <span>Population</span>
    <div id="slider7"></div>

</template>

<template name="dropdown">
	<select class="form-control roles">
		<option>select</option>
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
	<select class="form-control properties">
		{{#each roleProperties}}
			<option>{{this}}</option>
		{{/each}}
	</select>
</template>