<template name="home">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				{{> dropdown}}
				{{> sliders}}
			</div>
			<div class="col-lg-10">
				<div id="map" style="width: 1000px; height: 600px"></div>
				<div id="info"></div>
			</div>		
		</div>
	</div>
</template>

<template name="sliders">
	
	<span>Aboriginal</span>
	<div id="slider1"></div>

    <span>Conservation</span>
  	<div id="slider2"></div>

  <span>Type3</span>
  <div id="slider3"></div>
  <p>Value: {{slider3}} </p>

  <span>Type4</span>
  <div id="slider4"></div>
  <p>Value: {{slider4}} </p>

  <span>Type5</span>
  <div id="slider5"></div>	
  <p>Value: {{slider5}} </p>
  
  <span>Type6</span>
  <div id="slider6"></div>	
  <p>Value: {{slider6}} </p>

</template>

<template name="dropdown">
	<select class="form-control roles">
		<option>select</option>
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
	<select class="form-control properties">
		{{#each roleProperties}}
			<option>{{this}}</option>
		{{/each}}
	</select>
</template>